
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  @apply bg-gray-100 text-gray-900 m-0 min-h-screen;
}

.leaflet-container {
  @apply h-full w-full rounded-xl z-0 shadow-inner border border-gray-200;
}

/* Ajustes finos para scroll mobile */
* {
  -webkit-tap-highlight-color: transparent;
}
